.Todo {
  width: 46rem;
	height: 4.5rem;
	background-color: #262626;
	border-radius: 8px;	
	display: flex;
	margin: auto;
  margin-bottom: 0.75rem;
  border: solid 1px;
	border-color: #333333;
  color: #f2f2f2;
}

.button {
  position: relative;
  border-style: double;
  border-radius: 100%;
  border-width: 2px;  
	border-color: #4EA8DE;
  background-color: transparent;
  margin: 1rem 0 0 1rem;
  width: 1.091rem;
  height: 1.091rem;
  cursor: pointer;
}

.button:hover {
  border-color: #1E6F9F;
  background-color: #9CA3AF;
}

.buttonChecked {
  position: relative;
  border-style: double;
  border-radius: 100%;
  border-width: 2px;  
	border-color: ##5E60CE;
  background-color: #5E60CE;
  margin: 1rem 0 0 1rem;
  width: 1.091rem;
  height: 1.091rem;
}

.buttonChecked:hover {
  border-color: #8284FA;
  background-color: #8284FA;
}

.span {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 1rem;
  color: #F2F2F2;
}

.spanChecked {
  text-decoration: line-through;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 1rem;
  color: #808080;
}

.trash {
  margin: 1rem 1rem 0 44.25rem;
  width: 0.88rem;
  height: 0.975rem;
  position: absolute;
  cursor: pointer;
}

.trash:hover {
  color: #E25858;
}